---
layout: null
robots: noindex
sitemap:
  exclude: 'yes'
---

.card,
.post-list .post {
    background-color: #fff;
    box-shadow: -1px 2px 6px 0 rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    transition: box-shadow .3s ease-in-out;
    border-radius: 10px
}

.card:not(:last-child),
.post-list .post:not(:last-child) {
    margin: 0 0 1.5em
}

.card:hover,
.post-list .post:hover {
    box-shadow: -1px 2px 12px 0 rgba(0, 0, 0, 0.2)
}

.card,
.post-list .post {
    /*background: #0f1626;*/
    border: 2px solid #e25440;
    padding: 20px
}

li{
    margin-top: 10px !important;
    /*border:1px solid grey;*/
}

li:first-child {
    margin-top:0;
}

h1 {
    margin-top: 0;
    font-size: 3.2em;
    line-height: 1.2em;
    letter-spacing: .05em; }

h2 {
    font-size: 2.2em; }

h3 {
    font-size: 1.8em; }

h4 {
    font-size: 1.4em; }

h4 {
    font-size: 1.2em; }

h5 {
    font-size: 1em; }

p {
    margin-bottom: 1.3em;
    line-height: 1.7em; }
